form {
    display: flex;
    padding: 10px;
    margin-left: 20px;

  }
  .wrapper {
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 480px;
  }
  .input {
    margin-right: 10px;
    width: 60%;
    height: 20px; 
  }
  .frame {
    width: 40vw;
    max-width: 400px;
    border: groove red 4px;
    padding: 50px; 
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header {
    display: inline;
    text-align: center;

  }
  .list-wrapper {
    max-height: 200px;
    overflow-y: auto;
  }

  .class-header-title {
    text-align: center;
  }

  


 
  